<div class= "footer">
  <h4>Vous avez un projet ?</h4>
  <h4>Vous souhaiteriez en savoir plus sur la faisabilité, le coût et le temps de développement ?</h4>
  <div class="cta-footer">
    <%= link_to "Contactez-nous", contact_path, class: "btn-cta" %>
  </div>
</div>
