<div class="content-wrapper lg-m-5 mt-5 ">
  <div class="text-center">
    <h3> Notre mission</h3>
    <h4> Vous accompagner dans vos projets de création de site internet</h4>
  </div>
<div class="container mt-5 sm-mt-0 ">
   <div class= "cards-about ">
    <div class= "card-about  p-3 sm-mt-5">
      <b> <h5> Notre histoire</h5> </b>
      <br>
      <p> C’est au bootcamp du Wagon que tout à commencé puis que nous avons réalisé un premier projet. </p>
      <p>  Nous avons naturellement choisi de poursuivre notre collaboration en proposant nos services à des personnes souhaitant développer leur site internet.</p>
    </div>
    <div class="card-about d-flex justify-center m-4">
      <%= image_tag "le-wagon.jpg", class:"unjouruntheme", height: 300 %>
    </div>
  </div>

</div>
    <p class="text-center">Vous avez un projet ? </p>
    <p class="text-center"> Vous souhaiteriez en savoir plus sur la faisabilité, le coût et le temps de developpement?</p>
</div>



