<div class="content-wrapper lg-m-5 ">
  <div class="text-center">
    <h3> Portfolio</h3>
    <h4> Ils nous font confiance</h4>
  </div>
    <div class="container d-flex p-0">
      <div class="cards p-0">

       <a href="https://www.12p5.com" target="popup" onclick="window.open('https://www.12p5.com)";return(false)> <div class="card" style="background-image: url(https://res.cloudinary.com/dhyxgrz4m/image/upload/v1593618731/Capture_d_e%CC%81cran_2020-07-01_a%CC%80_17.18.06_mtxxyd.png)"><h5 class="text-center"  style="color:white;"> Location de parking sur mesure pour 2 roues </h5>
        </div></a>
        <a href="http://www.jasi-creation.com" target="popup" onclick="window.open('https://www.citizus.com')";return(false)> <div class="card" style="background-image: url(https://res.cloudinary.com/dhyxgrz4m/image/upload/v1593618731/Capture_d_e%CC%81cran_2020-07-01_a%CC%80_17.17.22_l95wyw.png)"><h5 class="text-center" style="color:white;">  Plateforme de vote en ligne </h5>
        </div> </a>
        <a href="https://www.citizus.com" target="popup" onclick="window.open('http://rdvideo.herokuapp.com/')";return(false)> <div class="card" style="background-image: url(https://res.cloudinary.com/dhyxgrz4m/image/upload/v1593618732/Capture_d_e%CC%81cran_2020-07-01_a%CC%80_17.19.34_ioqoqs.png)"><h5 class="text-center" style="color:white;"> Réservation de coach en ligne </h5>
        </div> </a>
        <a href="https://www.citizus.com" target="popup" onclick="window.open('http://www.jasi-creation.com')";return(false)> <div class="card" style="background-image: url(https://res.cloudinary.com/dhyxgrz4m/image/upload/v1593618733/Capture_d_e%CC%81cran_2020-07-01_a%CC%80_17.41.42_vskggp.png)"><h5 class="text-center" style="color:white;"> E-commerce bijoux fantaisies </h5>
        </div> </a>
      </div>
    </div>
    <p class="text-center">Vous avez un projet ? </p>
    <p class="text-center"> Vous souhaiteriez en savoir plus sur la faisabilité, le coût et le temps de developpement?</p>
</div>


