<div class="content-wrapper lg-m-5 ">
  <div class="text-center">
    <h3> Portfolio</h3>
    <h4> Ils nous font confiance</h4>
  </div>
    <div class="container justify-content-center p-0" style="margin-top: 53px;">
      <div class=" d-flex p-0" style="overflow: auto;">
        <div>
         <a href="https://www.12p5.com" target="popup" onclick="window.open('https://www.12p5.com)";return(false)> <div class="card" style="background-image: url(https://res.cloudinary.com/dhyxgrz4m/image/upload/v1593618731/Capture_d_e%CC%81cran_2020-07-01_a%CC%80_17.18.06_mtxxyd.png)"> </div>
          <h5 class="text-center"  style="color:black;"> 12.5 </h5></a>
        </div>
        <div>
          <a href="http://www.jasi-creation.com" target="popup" onclick="window.open('https://www.citizus.com')";return(false)> <div class="card" style="background-image: url( <%= image_path "citizus.png"  %>)"> </div>
            <h5 class="text-center" style="color:black;">  Citizus</h5>
          </a>
        </div>
        <div>
          <a href="https://www.citizus.com" target="popup" onclick="window.open('https://www.appclicnclac.com')";return(false)> <div class="card" style="background-image: url(<%= image_path "clicnclac.png"  %>)"> </div>
            <h5 class="text-center" style="color:black;"> Clic'n Clac</h5>
           </a>
        </div>
        <div>
          <a href="https://www.citizus.com" target="popup" onclick="window.open('http://www.jasi-creation.com')";return(false)> <div class="card" style="background-image: url(https://res.cloudinary.com/dhyxgrz4m/image/upload/v1593618733/Capture_d_e%CC%81cran_2020-07-01_a%CC%80_17.41.42_vskggp.png)"> </div> <h5 class="text-center" style="color:black;"> Jasi-Creation </h5>
           </a>
        </div>
        <div>
          <a href="https://www.docteur-silhol.com" target="popup" onclick="window.open('https://www.docteur-silhol.com')";return(false)> <div class="card" style="background-image: url(<%= image_path "dr.png"  %>)"> </div> <h5 class="text-center" style="color:black;"> Docteur Silhol </h5>
           </a>
        </div>
      </div>
    </div>
    <!-- <p class="text-center">Vous avez un projet ? </p>
    <p class="text-center"> Vous souhaiteriez en savoir plus sur la faisabilité, le coût et le temps de developpement?</p> -->
</div>


