<div class="main-container">
  <div class="title">
    <h2>Besoin de plus d'information ?</h2>
    <h2 class="purple">Envoyez-nous un message</h2>
  </div>

  <div class="container" style="margin-bottom: 30px;">

    <%= render 'contact_form' %>
  </div>
</div>
